*
	position: relative

.images
	align-items: flex-end
	display: flex
	flex-direction: row
	margin: 0 auto
	width: 450px*3

canvas,
#get-img,
#jpg-img
	border: 1px solid black
	display: block
	flex: 1
	width: 450px
	height: 300px
