html
	head
		title Moar JPEG
		link(href="css/index.css" rel="stylesheet")
	body
		.images
			canvas(id="canvas",width=480,height=320)
			img#get-img
			img#jpg-img
			img#server-img
		.buttons
			button#generate-canvas Generate from canvas
			button#generate-server Generate from server
			button#generate-jpeg Generate with jpeg-js
			button#generate-opengl Generate with opengl-js
			input#quality(type="range",min=1,max=100)
		canvas(id="tmp-canvas",width=480,height=320,style="display:none;")
		script(src="js/index.js")