html
	head
		title Moar JPEG
		link(href="css/index.css" rel="stylesheet")
	body
		.buttons
			button#generate Generate
			button Clicky
		.images
			.image
				canvas#blair-canvas(width=480,height=320)
				img#blair-img
			.image
				canvas#aeryn-canvas(width=480,height=320)
				img#aeryn-img
			.image
				canvas#red-canvas(width=480,height=320)
				img#red-img
			.image
				canvas#checkers-canvas(width=480,height=320)
				img#checkers-img
		canvas(id="tmp-canvas",width=480,height=320,style="display:none;")
		script(src="js/index.js")
