html
	head
		title Moar JPEG
		link(href="css/index.css" rel="stylesheet")
	body
		.images
			canvas(id="canvas",width=480,height=320)
			img#get-img
			img#jpg-img
		.buttons
			button#generate-canvas Generate from canvas
			button#generate-jpeg Generate with jpeg-js
		script(src="js/index.js")